div.grid > div.grid-cell {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.grid-cell {
    background: white;
}

.snake-color-grey {
    background: gray;
}

.snake-color-red {
    background: red;
}

.snake-color-glowing-white {
    background: cyan;
}

.food-name-apple {
    border: 2px solid red;
}

.food-name-lichi {
    border: 2px solid cyan;
}