div.grid > div.grid-cell {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.grid-cell {
    background: #f3f3ef
}

.snake-color-grey {
    background: gray;
}

.snake-color-red {
    background: red;
}

.snake-color-pink {
    background: pink;
}

.snake-color-yellow {
    background: yellow;
}

.snake-color-green {
    background: green;
}


.food-name-apple {
    border: 2px solid red;
    background-image: url('./assets/food-apple.png');
    background-size: contain;
}

.food-name-strawberry {
    border: 2px solid pink;
    background-image: url('./assets/food-strawberry.png');
    background-size: contain;
}

.food-name-banana {
    border: 2px solid yellow;
    background-image: url('./assets/food-banana.png');
    background-size: contain;
}

.food-name-frog {
    border: 2px solid green;
    background-image: url('./assets/food-frog.png');
    background-size: contain;
}


/* snake directions and snake head */
.snake-head {
    background-image: url('./assets/snake-head.png');
    background-size: contain;
}

.snake-body {
    background-size: contain;
}

.snake-right {
    background-image: url('./assets/right-snake.png');
}
.snake-left {
    background-image: url('./assets/left-snake.png');
}
.snake-down {
    background-image: url('./assets/down-snake.png');
}
.snake-up {
    background-image: url('./assets/up-snake.png');
}