*, html, body {
    box-sizing: border-box;
    margin: 0;
}

section.game-player {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url('./assets/alchemy.gif');
    border: 3px solid black;
    overflow: auto;
}

div.grid-canvas-wrapper {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
    overflow: auto;
    background: rgba(0, 150, 136, 0.13);
}

div.grid-canvas {
    position: relative;
    width: 550px;
    height: 550px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 75px;
}